<form class="comment-form" autocomplete="off" [formGroup]="commentForm" (ngSubmit)="submitForm()">
    <div class="form-floating mb-3">
        <input class="form-control" type="text" id="name" formControlName="name" placeholder="Your Name" required>
        <label for="name">Your Name</label>
    </div>

    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors?.['required']">
            The name field is required.
        </div>
    </div>

    <div class="form-floating mb-3">
        <textarea class="form-control" type="text" formControlName="text" placeholder="Add your comment here." required></textarea>
        <label for="text">Your Comment</label>
    </div>

    <div *ngIf="text.invalid && (text.dirty || text.touched)" class="alert alert-danger">

        <div *ngIf="text.errors?.['required']">
            The comment field is required.
        </div>
        <div *ngIf="text.errors?.['minlength']">
            The comment must be at least 5 characters long.
        </div>
    </div>

    <button class="btn btn-success" type="submit" [disabled]="commentForm.invalid">Add</button>
</form>